{
  "users": [
    {
      "jiraUsername": "username",
      "icsLinks": [
        "https://link.to/calendar"
      ],
      "telegramId": 1234567890
    }
  ],
  "telegram": {
    "token": "1234567890:abcdefABCDEF",
    "chatId": 123456789,
    "timeout": 60
  },
  "calendar": {
    "upcomingLimit": 20
  }
}