{
  "users": [
    {
      "jiraUsername": "username",
      "icsLinks": [
        "https://link.to/calendar"
      ],
      "telegramId": 1234567890
    }
  ],
  "telegram": {
    "token": "1234567890:abcdefABCDEF",
    "chatId": 123456789,
    "timeout": 60
  },
  "jira": {
    "url": "https://jira.host",
    "username": "",
    "password": "",
    "project": "PROJECT",
    "issuePrefix": "[TimeTracking] ",
    "issueLabel": "TimeTracking",
    "issueType": "Task"
  },
  "calendar": {
    "upcomingLimit": 20
  },
  "watchdog": {
    "updateFreq": 15,
    "remindBefore": 60,
    "remindAfter": 10
  }
}