{
  "users": [
    {
      "jiraUsername": "username",
      "icsLink": "https://link.to/calendar",
      "telegramId": 1234567890
    }
  ],
  "telegram": {
    "token": "1234567890:abcdefABCDEF",
    "chatId": 123456789,
    "timeout": 60
  },
  "jira": {
    "url": "https://jira.exset.com/",
    "username": "",
    "password": "",
    "project": "GPS",
    "issuePrefix": "[TimeTracking] ",
    "issueLabel": "TimeTracking",
    "issueType": "Task"
  }
  "calendar": {
    "upcomingLimit": 20
  }
}